/*
* @Author: yangxiooping
* @Date:   2017-09-08 15:38:30
* @Last Modified by:   yangxiooping
* @Last Modified time: 2017-09-08 15:49:03
*/
/* Testing autoprefixer */
.autoprefixer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* Testing cssnext */
.cssnext {
  background: rgba(255, 0, 0, 0.9);
}
/* Testing precss */
.precss {
    background: green
}